body {
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
}

h1 {
    text-align: center;
    background-color: blue;
    color: rebeccapurple;

}

.izquierda,
.derecha {
    float: left;
    padding: 0;
    margin: 0;
}

.izquierda {
    width: 25%;
}

.derecha {
    width: 75%;

}

.contenido {
    list-style-type: none;
    padding: 0;
}

.contenido li {
    float: left;
    width: 33%;
}